@charset "UTF-8";

@font-face {
    font-family: Netflix;
    src: url("/dio-netflix/font/NetflixSansRegular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --violeta: #8104B3;
    --preto: #141414;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: var(--preto);
    font-family: 'Netflix', Times;
    color: white;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

h1.logo {
    margin-left: 10px;
    color: var(--violeta);
    font-family: 'Bebas Neue', Times;
    font-size: 4em;
    font-weight: normal;
}

header nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

header .nav{
    margin-left: 30px;
}

header nav a {
    text-decoration: none;
    color: #aaa;
    font-size: 0.8em;
    margin-right: 15px;
    font-weight: 500;
}

header nav a:hover {
    color: #fff;
}

.interacao{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 10px;
    justify-content: space-between;
    width: 170px;
}

.interacao .notificacao{
    font-size: 1.1em;
    text-align: center;
}

.interacao .user-arrow-box{
    text-align: center;
    margin: 0 0 0 -15px;
}

.interacao form button{
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.1em;
    cursor: pointer;
    text-align: center;
    width: 50px;
    height: 50px;
}

.interacao .nav-usuario img{
    width: 35px;
    height: 35px;
    margin: 0 10px;
    border-radius: 5px;
}

.f-principal {
    background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50) 100%), url('/dio-netflix/img/sherlock-capa.jpg');
    height: 500px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
}

.f-principal .container {
    width: 45%;
}

.f-principal .titulo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', Arial, sans-serif;
    font-size: 5em;
    font-weight: normal;
    padding: 10px;
}

.f-principal .sinopse {
    padding: 5px 10px 10px 10px;
}

.f-principal .botoes {
    padding: 10px;
}

.f-principal .botoes .botao {
    margin-right: 15px;
    font-weight: bold;
    border: none;
    padding: 8px 25px;
    background-color: #85858559;
    color: white;
    cursor: pointer;
    transition: .2s ease all;
    border-radius: 5px;
}

.botoes .botao:hover {
    background-color: white;
    color: var(--preto);
}

.botao i {
    margin-right: 8px;
}

.box-item{
    height: 100%;
    width: 100%;
    display: block;
}

.section{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.secao-carrosel{
    padding: 20px 0px 10px 10px;
    margin-left: 5px;
    font-size: 1.1em;
    font-weight: normal;
}

.owl-carousel{
    padding: 0 0 0 10px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.308);
    color: white;
    margin-top: 50px;
    padding: 15px;
}

footer p{
    font-weight: bold;
    font-size: 1.1em;
}